/*Theme Colors*/
@Brightest-Color: #f2f2f2; // Light gray
@Main-Highlight-Color: #4ecbd9; // Cyan
@Main-Highlight-Color-Hovered: #4ecbd9d6; // Cyan hover
@Secondary-Highlight-Color-Hovered: #f1a032; // Orange
@Main-Midtone-Color: #61748c; // Cyan Blue
@Secondary-Midtone-Color: #223f59; // Dark Cyan Blue
@Darkest-Color: #141e26; // Shade of black
@Text-Colors: #333333; // Dark charcoal

/* Media Queries */
@small: ~"(max-width: 699px) and (min-width: 520px)";
@medium: ~"(max-width: 1000px) and (min-width: 700px)";
@large: ~"(min-width: 1001px)";
@xlarge: ~"(min-width: 1151px)";
